/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
</style> */
/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    font-size: 16px;
    /* new changes */
    min-height: 100vh;
    /* text-align: center; */
}

.container {
    /* margin: 10vh auto; */
    background-color: white;
    /* width: 450px;
    height: 675px; */
    /* border-radius: 25px; */
    overflow: hidden;
    /* new changes */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    border-radius: 20px;
}

/* new change */
.text-area {
    padding: 8%;
    text-align: center;
}

/* .text-area  */
.title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    /* margin-top: 25px; */
    margin-bottom: 15px;
}

/* .text-area  */
.sub-title {
    /* padding: 0 40px; */
    /* font-weight: 500px; */
    color: hsl(224, 23%, 55%);
    /* line-height: 23px; */
    word-spacing: 2px;
    margin-bottom: 25px;
}

.plan-box {
    /* margin: 25px 40px; */
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .plan-box  */
.plan-box-left {
    text-align: left;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.plan-box-left .summary {
    margin-right: 20px;
}

.plan-box-left .summary h4 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    /* padding-bottom: 2px; */
}

.plan-box-left .summary p {
    font-weight: 500;
    /* padding-top: 2px; */
    color: hsl(224, 23%, 55%);
}

/* .plan-box  */
.change-btn {
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

.plan-box a:active{
    text-decoration: none;
    /* cursor: pointer; */
    color: hsl(247, 87%, 68%);
}

/* .container .text-area */
a.payment-btn {
    background-color: hsl(245, 75%, 52%);
    display: block;
    margin: 30px 0;
    padding: 20px 0;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    font-weight: 00;
    box-shadow: 0px 18px 5px hsl(225, 100%, 98%);
}

/* .container .text-area  */
.payment-btn:active{
    /* cursor: pointer; */
    background-color: hsl(247, 87%, 68%);
}

/* .container .text-area  */
.cancel-btn {
    font-weight: 900;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

/* .container .text-area  */
.cancel-btn:active{
    /* cursor: pointer; */
    color: hsl(223, 47%, 23%);
}