/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
</style> */
/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* css reset */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background-image: url("../images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.container {
    margin: 10vh auto;
    background-color: white;
    width: 450px;
    height: 675px;
    border-radius: 25px;
    overflow: hidden;
}

.text-area .title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-top: 25px;
    margin-bottom: 15px;
}

.text-area .sub-title {
    padding: 0 40px;
    font-weight: 500px;
    color: hsl(224, 23%, 55%);
    line-height: 23px;
    word-spacing: 0.7px;
}

.plan-box {
    margin: 25px 40px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-box .plan-box-left {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-box-left .icon {
    margin-right: 18px;
}

.plan-box-left .summary h4 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    padding-bottom: 2px;
}

.plan-box-left .summary p {
    font-weight: 700;
    padding-top: 2px;
    color: hsl(224, 23%, 55%);
}

.plan-box .change-btn {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.plan-box a:active, .plan-box a:hover{
    text-decoration: none;
    cursor: pointer;
    /* color: hsl(225, 100%, 98%); */
}

.container .text-area .payment-btn {
    background-color: hsl(245, 75%, 52%);
    display: block;
    margin: 0 40px 25px 40px;
    padding: 17px 0;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-weight: 900;
    /* box-shadow: ; */
}

.container .text-area .cancel-btn {
    font-weight: 900;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    margin-bottom: 50px;
}